<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>
  <form class="container" style="border: 1px solid grey; margin: 1rem; padding: 1rem; border-radius: 15px;"
    method="post" action="/admin/timeline/post/edit/<%-post.id %> ">
    <div class="form-group">
      <h2>Edit Post</h2>
      <% if (locals.validation_error !='' ) { %>
        <%- include('./partials/_mesaj') %>
          <% } %>
            <textarea type="text" class="form-control" name="shareText"
              placeholder="Write something"><%-post.text%></textarea>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


</body>
